#conventionalCommentButtonContainer {
  display: flex;
  align-items: flex-end;
  margin: 5px 0;
}

#conventionalCommentButtonContainer .buttonContainer {
  display: flex;
  flex-direction: row;
  height: 25px;
  width: 25px;
  overflow: hidden;
  transition: all 0.3s;
}

#conventionalCommentButtonContainer .buttonContainer.hasBlockingButton:hover,
#conventionalCommentButtonContainer .buttonContainer.hasBlockingButton:has(button:focus) {
  width: 50px;
}

#conventionalCommentButtonContainer button {
  background: transparent;
  border: none;
  color: var(--color-secondary-dark-7);
  height: 25px;
  width: 25px;
  outline: 0;
}

#conventionalCommentButtonContainer button svg {
  height: 13px;
  width: 13px;
}

#conventionalCommentButtonContainer button:hover,
#conventionalCommentButtonContainer button:focus {
  outline: 0;
  color: var(--color-primary-hover);
}

#conventionalCommentButtonContainer button.blocking {
  color: var(--color-red-badge);
}

#conventionalCommentButtonContainer button.blocking:hover,
#conventionalCommentButtonContainer button.blocking:focus {
  color: var(--color-red-badge-hover-bg);
}
